[2020-01-16 20:44] jerwest opened #1 "ARM Template and PowerShell/CLI script for deploying Azure Function resource"
1. JSON with the template
2. JSON with parameters
3. Script to run
4. The following parameters should be required to run the script:
     - Resource group name
     - Resource group location
     - Resource name

[2020-01-16 20:51] jerwest opened #2 "Create a Device in IoT Hub to be used by the Device team"
1. Prerequisite is IoT Hub resource in Azure
     - See T4 on DevOps team
2. Documentation how to do that (step-by step guide)

[2020-01-16 20:57] jerwest opened #3 "Create a route to send the messages to Azure Storage"
1. Prerequisite is IoT Hub resource in Azure
     - See T4 on DevOps team
2. Documentation how to do that (step-by step guide)

[2020-01-16 20:58] jerwest opened #4 "Create a route to send messages to Azure Stream Analytics"
1. Prerequisite is IoT Hub resource in Azure
     - See T4 on DevOps team
2. Documentation how to do that (step-by step guide)

[2020-01-16 21:00] jerwest opened #5 "Develop Azure Function that transforms Base64 encoded JSON property and logs this in App Insights"
1. Prerequisite is IoT Hub resource in Azure
     - See T4 on DevOps team
2. HTTP Trigger Function
3. JSON input -> I see a log message in App Insights that shows the decoded Base64 property

[2020-01-16 21:05] jerwest opened #6 "Develop wireframes"
(caveat - all or nothing on the grade)

[2020-01-16 21:07] jerwest opened #7 "Develop simple toggle React component"
1. switch the internal state between ON and OFF

[2020-01-16 21:08] jerwest opened #8 "Develop simple text React component"
1. it shows the toggle state

[2020-01-16 21:09] jerwest opened #9 "Develop login page using Azure Active Directory login tokens"
1. https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-scenarios

[2020-01-16 21:35] jerwest opened #10 "Setup Raspbian on the device and configure WiFi access"

[2020-01-16 21:36] jerwest opened #11 "Setup up Docker and deploy sample container"
1. On your local machine
2. On the Raspberry Pi

[2020-01-16 21:37] jerwest opened #12 "Set up your dev environment for IoT Edge and run a sample module"
1. https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-linux
2. https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-python-module
3. https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-python-module

[2020-01-16 21:38] jerwest opened #13 "Console application that uploads a file to Azure Storage blob"
1. The blob is private (see T2 task on DevOps side)

[2020-01-16 21:54] jerwest opened #14 "ARM Template and PowerShell/CLI script for deploying Azure Storage Account resource"
1. JSON with the template
2. JSON with parameters
3. Script to run
4. The following parameters should be required to run the script:
     - Resource group name
     - Resource group location
     - Resource name

[2020-01-16 21:56] jerwest opened #15 "ARM Template and PowerShell/CLI script for deploying Azure Stream Analytics resource"
1. JSON with the template
2. JSON with parameters
3. Script to run
4. The following parameters should be required to run the script:
     - Resource group name
     - Resource group location
     - Resource name

[2020-01-16 21:57] jerwest opened #16 "ARM Template and PowerShell/CLI script for deploying Azure IoT Hub resource"
1. JSON with the template
2. JSON with parameters
3. Script to run
4. The following parameters should be required to run the script:
     - Resource group name
     - Resource group location
     - Resource name

[2020-01-16 21:58] jerwest opened #17 "Travis CI pipeline to deploy html file from feature branch in GitHub to Azure Storage Blob"
1. Feature branch in Github with single file index.html
2. Create a pipeline that monitors this feature branch
3. If changes are done -> those get deployed to a container in Azure Storage blob
4. Work with person on T2

[2020-01-16 22:11] jerwest opened #18 "Review: ARM Template and PowerShell/CLI script for deploying Azure Function resource"

[2020-01-16 22:12] jerwest opened #19 "Review: ARM Template and PowerShell/CLI script for deploying Azure Storage Account resource"

[2020-01-16 22:12] jerwest opened #20 "Review: ARM Template and PowerShell/CLI script for deploying Azure Stream Analytics resource"

[2020-01-16 22:12] jerwest opened #21 "Review: ARM Template and PowerShell/CLI script for deploying Azure IoT Hub resource"

[2020-01-16 22:13] jerwest opened #22 "Review: Travis CI pipeline to deploy html file from feature branch in GitHub to Azure Storage Blob"

[2020-01-16 22:15] jerwest opened #23 "Review: Develop wireframes"

[2020-01-16 22:15] jerwest opened #24 "Review: Develop simple toggle React component"

[2020-01-16 22:15] jerwest opened #25 "Review: Develop simple text React component"

[2020-01-16 22:16] jerwest opened #26 "Review: Develop login page using Azure Active Directory login tokens"

[2020-01-16 22:22] jerwest opened #27 "Review: Create a Device in IoT Hub to be used by the Device team"

[2020-01-16 22:22] jerwest opened #28 "Review: Create a route to send the messages to Azure Storage"

[2020-01-16 22:22] jerwest opened #29 "Review: Create a route to send messages to Azure Stream Analytics"

[2020-01-16 22:22] jerwest opened #30 "Review: Develop Azure Function that transforms Base64 encoded JSON property and logs this in App Insights"

[2020-01-16 22:24] jerwest opened #31 "Review: Setup Raspbian on the device and configure WiFi access"

[2020-01-16 22:24] jerwest opened #32 "Review: Setup up Docker and deploy sample container"

[2020-01-16 22:25] jerwest opened #33 "Review: Set up your dev environment for IoT Edge and run a sample module"

[2020-01-16 22:25] jerwest opened #34 "Review: Console application that uploads a file to Azure Storage blob"

[2020-01-22 04:06] leitto10 commented on #30
This is the task that needs to be tested #5

[2020-01-23 10:51] iroenu commented on #1
Estimate Time: 2-3 hours.
Estimate  40 minutes to searching how to create Azure Function App, and 30 minutes to searching how to write the Powershell script. About 1 hours to create Azure Function app and create the Powershell script.

Powershell Script:
1. Open Azure PowerShell

2. Enter below script

Uninstall-AzureRm

Install-Module -Name Az -AllowClobber

Connect-AzAccount

#Enter the resource

[2020-01-25 02:13] leitto10 commented on #4
Link to the wiki page:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Create-a-route-to-send-messages-to-Azure-Stream-Analytics-%234
Link to test my task sending messages to azure stream analytics:
jos-sa-feat-usw2-inputendpoint
https://portal.azure.com/#@toddysmlive.onmicrosoft.com/resource/subscriptions/9f4dcf43-aa06-457b-b975-f0216baef20d/resourceGroups/bet-rg-feat-

[2020-01-26 07:48] mrvirus9898 opened #42 "TA&SP initial README"
A template pull request should be make to demonstrate some basic github protocol our team members. This should include: A Link to the task, a link to the test task, a link to the wiki, and a link to the test it's self.

[2020-01-26 07:56] mrvirus9898 opened #44 "Testing initial README"
The initial README should be reviewed, and commented on as necessary.

1) Go to https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/43/files
2) Click the "Display the rich diff" button near the "Viewed" check box. It's icon is a piece of paper
3) View the initial README.
4) Comment in Pull Request #43 if you can see the page, and provide feed back as you see fit.

[2020-01-26 22:02] mrvirus9898 commented on #42
Initial Time Estimate: 30 Mins
Actual Time Estimate: 30 Mins

Test task: #44
Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Initial-README

The commit is sent to the Development branch, but there is no Kanban for me to move tasks from the TODO. Consider making a task for setting up the Kanban to better track the project, or switch to management software like [MS

[2020-01-26 23:44] ghost commented on #27
Reviewed and tested IoT Hub device.  Clear instructions, had no issues creating device.

[2020-01-27 00:05] iroenu commented on #19
I login in the Azure Accout, go to the Azure portal.
There is one resource group which created for task 2.
The name of the resource group is bet-rg-feat-usw2-task2.
Inside the bet-rg-feat-usw2-task2 resource group, there is one loT Hub.
The name of the resource is bet-rg-feat-usw2-task2.
Which is the same name as the resoure group.
I think we should change the loT Hub name.
The loT Hub is active.

[2020-01-27 01:56] leitto10 commented on #27
Review and test the IoT Hub, I followed the instructions and I was able to create one. I also connected the Azure Stream Analytics with the IoT Hub and got a successful message from azure.

[2020-01-27 02:04] leitto10 commented on #29
I was able to test this task was working properly by creating the message route to the Azure Blob Storage. I followed the instructions and I got a successful message on Azure.

[2020-01-27 03:37] ghost commented on #2
Reviewed IoT Hub device and had no issues creating device.  Was a bit unsure where to navigate to after log in.  Additional step to click on resource group after log in was added.

[2020-01-27 18:19] eatlunchnow commented on #3
Task and documentation have been completed.

[2020-01-27 18:33] eatlunchnow commented on #30
I was able to run a successful test on this task.

I went to https://www.base64encode.org/ and created a coded message.

From there I added my encoded base64 data to the end of the URL provided in step 2: https://ken-fun-feat-usw2-task5.azurewebsites.net/api/base64decode?code=zDPBuJFjpO7FX7u1zPECPLa1x5IY5USgxi77/wwR44r1ioOzGgZueQ==&base64Decode=SSBhbSB0ZXN0aW5nIEtlbidzIHRhc2sgZm9yIHNwcmludCAx

I w

[2020-01-27 22:47] sanfordwinslow commented on #5
I tested your task successfully. Be sure to add a link back to this task in your wiki notes. That way it's easier to return to your task to leave comments.

[2020-01-28 00:52] leitto10 commented on #30
I also tested this task successfully.
I created a coded message  https://www.base64encode.org/
Then, I went into the Azure portal. I went into Ken's resource group and under Function App, I was able to see my message.

[2020-01-28 01:52] Peter-S commented on #32
I work with Laila and docker is set up and the container is deployed. I also went over her instructions and they work correctly.

[2020-01-28 02:01] sanfordwinslow commented on #3
Tested successfully.

[2020-01-28 04:11] lailamay commented on #33
I have been working with Ruth on every task; I have tested her task by downloading visual studio code and, setting up a dev environment for IoT edge and running a sample module.

[2020-01-28 08:42] tcoducayen commented on #15
**wikipage:**
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/tree/feature-thomas-3/devops/azure-StreamAnalytics

**pull request:**
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/173

Estimated Time to take:
6hrs

Time Taken:
Sat 1/18 6PM - 8PM (2hrs)
Initiating IDEs, watching videos about Azure, learning about ARM templates creating directories

[2020-01-28 23:35] eatlunchnow commented on #28
I logged into my Azure Portal.
I clicked on bet-rg-feat-usw2-task2 resource
I then clicked on IoT Edge from the left side pane under Automatic Device Management
I clicked on +Add and named the new device kia-prod-usw2-testsan
I hit the Save button
I clicked on the device to saw all the keys

Test was successful!

[2020-01-29 00:24] ghost commented on #4
I went to resource group and clicked jos-rg-feat-usw2-task4.  I clicked edit query > upload sample input and uploaded a test JSON file and clicked test query.  Test was successful and had not issues.

[2020-01-29 00:26] siergieyk commented on #8
**Task#3 Test:**
I tested the task by downloading the repository to my machine and installing all the necessary components.

After I ran the application locally via the "npm start" command, I was able to see the screen with the toggle switch, and the "ON" and "OFF" text.
When I moved the toggle switch, the large text has switched from "ON" to "OFF", and from "OFF" to "ON".

Everything seems to wor

[2020-01-29 01:22] Yozelinm commented on #22
Kevin requested more time to complete his task; professor granted. Task 5 will be reviewed by me when completed by Kevin.

[2020-01-29 03:40] Peter-S commented on #10
[my Wiki](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/IoT-Team-Task-%2310---Setup-Raspbian-on-the-device-and-configure-WiFi-access)

No github branch for this task

[2020-01-29 03:42] eatlunchnow commented on #3
Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Back-End-Team---Task-%233:-Create-a-route-to-send-the-messages-to-Azure-Storage

First task I tested: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/30

Second task I tested: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/28

No pull request for this task

[2020-01-29 03:42] #3 closed, assigned to eatlunchnow

[2020-01-29 03:44] ghost commented on #5
Pull Request: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/47

Wiki Page:  https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Back-End-Team---Task-%234:-Develop-Azure-Function-that-transforms-Base64-encoded-JSON-property-and-logs-this-in-App-Insights

[2020-01-29 03:46] siergieyk commented on #7
**This is a simple toggle switch, that utilizes React libraries: toggle-switch.**

wiki:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/ToggleSwitch.js

Pull Requests:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/38
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/46
https://github.com/North-Seattle-College/ad44

[2020-01-29 03:59] mck368 commented on #13
1. Create a folder for the file and the data - you can use these command lines
- mkdir blob-filestorage
- cd blob-filestorage
- mkdir data
2. Make sure you have python installed 2.7, 3.5 or above
3. Install the Azure dependency below (for MAC, put sudo in front)
	- pip install azure-storage-blob
4. To connect the app to the Azure storage account, enter the following in the command line.  	You can

[2020-01-29 05:39] jerwest opened #59 "Create SQL database model"

[2020-01-29 05:43] jerwest opened #60 "API/Machines POST"

[2020-01-29 05:46] jerwest opened #61 "API/Machines GET and /{id} GET"

[2020-01-29 05:46] sanfordwinslow commented on #2
Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Create-a-IoT-Edge-Device,-Task-%232

tested task: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/28

[2020-01-29 05:46] jerwest opened #62 "API PUT"

[2020-01-29 05:48] rbeeler commented on #13
I was able to follow the documentation just as Maria did with one exception. My computer had trouble with the pip command, and I ended up having to delete my version of python(3.5) and then upgrade to 3.7. Also, even after I did that, it would not let me import a couple of the necessary modules because I did not have pylint installed. Other than that, everything worked fine.

[2020-01-29 05:48] jerwest opened #63 "Travis CI automation to deploy Azure function code"

[2020-01-29 05:49] jerwest opened #64 "Automation for Azure SQL Database"

[2020-01-29 05:50] jerwest opened #65 "Automation for Device provisioning service"

[2020-01-29 05:50] sanfordwinslow commented on #28
I needed to have devops team give me authorization to create container to test.
I tried to use Kiara's storage container and was not allowed.

[2020-01-29 05:50] jerwest opened #66 "Development environment automation"

[2020-01-29 05:52] jerwest opened #67 "Custom domain for APIs (security)"
all functions will be accessible via api.1edusite.com (???? double check with Toddy on this, if errors)

[2020-01-29 05:53] jerwest opened #68 "Simulated IoT device -> sends machine info (scheduled to run every 5 minutes)"

[2020-01-29 05:54] jerwest opened #69 "Simulated Device -> sends error info: (broken water, water flow issue, missing coffee (scheduled to run every 1 minutes))"

[2020-01-29 05:54] sanfordwinslow commented on #2
Kiara closed her task before I could comment. I have commented in my review task:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/28

[2020-01-29 05:54] #2 closed, assigned to sanfordwinslow

[2020-01-29 05:56] jerwest opened #70 "IoT Edge module for uploading config every five minutes"

[2020-01-29 05:57] jerwest opened #71 "Iot Edge module to upload log data"

[2020-01-29 05:58] jerwest opened #72 "Signed in user component"

[2020-01-29 05:58] jerwest opened #73 "Chrome for the page (logo component, left side navigation, work area component)"

[2020-01-29 05:59] jerwest opened #74 "Table with failing machines (searchable table(location, wrongness level, model, etc), machine identifier)"

[2020-01-29 06:00] jerwest opened #75 "Full machine details component (linked from machine identifier in "Table with failing machines")"

[2020-01-29 06:09] lailamay commented on #11
1. My task does not have a PR.
2. Link to Wiki page: IoT Team Task #11 Set up Docker & deploy sample container
3. Link to test task: Review: Set up your dev environment for IoT Edge and run a sample module #33

[2020-01-29 06:10] jerwest opened #76 "Review: Create SQL database model"

[2020-01-29 06:11] jerwest opened #77 "Review: API/Machines POST"

[2020-01-29 06:11] jerwest opened #78 "Review: API/Machines GET and /{id} GET"

[2020-01-29 06:11] leitto10 commented on #29
Link to the wiki page:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Create-a-route-to-send-messages-to-Azure-Stream-Analytics-%234
Link to test my task sending messages to azure stream analytics:
jos-sa-feat-usw2-inputendpoint
https://portal.azure.com/#@toddysmlive.onmicrosoft.com/resource/subscriptions/9f4dcf43-aa06-457b-b975-f0216baef20d/resourceGroups/bet-rg-feat-

[2020-01-29 06:11] jerwest opened #79 "Review: API PUT"

[2020-01-29 06:16] jerwest opened #80 "Review: Travis CI automation to deploy Azure function code"

[2020-01-29 06:16] jerwest opened #81 "Review: Automation for Azure SQL Database"

[2020-01-29 06:17] jerwest opened #82 "Review: Automation for Device provisioning service"

[2020-01-29 06:17] jerwest opened #83 "Review: Development environment automation"

[2020-01-29 06:18] jerwest opened #84 "Review: Custom domain for APIs (security) (all functions will be accessible via api.1edusite.com)"

[2020-01-29 06:27] jerwest opened #85 "Review: Simulated IoT device -> sends machine info (scheduled to run every 5 minutes)"

[2020-01-29 06:27] jerwest opened #86 "Review: Simulated Device -> sends error info: (broken water, water flow issue, missing coffee (scheduled to run every 1 minutes))"

[2020-01-29 06:27] jerwest opened #87 "Review: IoT Edge module for uploading config every five minutes"

[2020-01-29 06:27] jerwest opened #88 "Review: Iot Edge module to upload log data"

[2020-01-29 06:33] jerwest opened #89 "Review: Signed in user component"

[2020-01-29 06:33] jerwest opened #90 "Review: Chrome for the page (logo component, left side navigation, work area component)"

[2020-01-29 06:33] jerwest opened #91 "Review: Table with failing machines (searchable table(location, wrongness level, model, etc), machine identifier)"

[2020-01-29 06:34] jerwest opened #92 "Review: Full machine details component (linked from machine identifier in "Table with failing machines")"

[2020-01-29 06:42] rbeeler commented on #33
Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/IOT-Team---Set-up-your-dev-environment-for-IoT-Edge-and-run-a-sample-module

Test Task: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/33

Pull Request: Module has not been tested without errors, so I did not want to create a pull request for  bad code. But I can provide the test module

[2020-01-29 07:32] lailamay commented on #33
I tested Ruth's task by downloading VSC, and following instructions to sign into the appropriate Azure account. I was also able to connect to the right resource group through VSC. Then, I created a Python module and changed the code in main.py to create a sample module. This was successful, up to the point where Docker needs to be detected. Currently, our Docker container is on the raspberry pi de

[2020-01-29 08:33] kevinles117 commented on #18
Followed the instructions on the task, but ran into some issues when creating a Resource Group. Task: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/1

[2020-01-29 16:51] mck368 commented on #31
This has been completed.

[2020-01-29 22:58] #28 closed, assigned to sanfordwinslow

[2020-02-01 03:42] kevinles117 commented on #17
Pull Request: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/97

Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/DevOps-Sprint-1-Task%235:-Travis-CI-pipeline-to-deploy-html-file-from-feature-branch-in-GitHub-to-Azure-Storage-Blob

Test Task: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/22

[2020-02-03 07:00] Abdifatah206 commented on #9
this milestone completed successfully.

[2020-02-03 07:00] #9 closed, assigned to Abdifatah206

[2020-02-03 22:51] mrvirus9898 commented on #18
@kevinles117 in the future can you describe what those issues are?

[2020-02-05 02:07] iroenu commented on #1
Task1 : [Feature azurefunction wenbin task1](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/1)

Test Task: [18](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/18)

Pull Request: [Link](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/100)

Wiki
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-

[2020-02-05 02:20] eatlunchnow commented on #59
I estimate it will take 10 hours to complete this task.

[2020-02-05 02:22] tcoducayen commented on #15
I have completed the template as well as the parameters file, created a new directory for them to be in, and I have made it very general.  Still need to consult with Jose and still need to try to run the project.

Obstacles: I need to regain permission to use the azure directory

[2020-02-05 03:39] iroenu commented on #18
I fix the bug, please check again.

[2020-02-05 19:39] isherep commented on #8
WIKI - https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/TextComponent-state-exchange-with-ToggleSwitch

[2020-02-05 19:44] isherep commented on #8
Pull request - https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/55

[2020-02-05 20:19] isherep commented on #26
I tested this feature in Chrome, Firefox, and Safari.
The following scenario was used to test
- start the react app by 'npm start' and open localhost in the browser
- locate the Sign In button in the header of the page
- by clicking on a Sign In button, redirect to the Microsoft Sign In page.
Expected - Microsoft Sign In page renders.
Actual - Microsoft Sign In page renders.

[2020-02-05 23:33] leitto10 commented on #62
I estimate that this task will take me about 20 hours.

[2020-02-06 02:15] ghost commented on #60
Est. time to complete task: ~25hours

[2020-02-07 00:57] sanfordwinslow commented on #61
estimate to complete task: 20hrs

[2020-02-07 01:00] ghost commented on #60
2/5 - 4 hours.
-created POST request function
-did research on POST request code
-did research on Postman

[2020-02-08 03:20] rbeeler commented on #12
PR: N/A

wiki:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/IOT-Team---Set-up-your-dev-environment-for-IoT-Edge-and-run-a-sample-module

test task:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/34

[2020-02-08 03:53] leitto10 commented on #62
I spent 5 hours doing research on how to implement this feature.

[2020-02-08 04:15] rbeeler commented on #34
Expected Results:
The blob I created in the Azure storage container similar to the one presented in the wiki page.

Steps taken for testing:
1. I created the folder and the file needed.
2. I checked my version of python and it was sufficient(although this turned out to not work later).
3. I was able to:      pip install azure-storage-blob
4.  Successfully used windows command:    setx AZURE_STORAG

[2020-02-08 05:18] Yozelinm commented on #16
### Testing in Azure portal to see if IoT Hub was created! Successful

<img width="1241" alt="Screen Shot 2020-02-07 at 9 16 42 PM" src="https://user-images.githubusercontent.com/46582643/74079644-41501480-49ef-11ea-8c0d-354a1a997ac6.png">

[2020-02-08 06:44] iroenu commented on #19
I follow the instruction to create a Azure Storage Account.
1. I open the Powershell and run the script. The script is working.
2. The Azure storage account is deploying.
3. I login to the Azure Portal, go to the bet-rg-feat-usw2-task2 resource group.
4. I find out that the deployment of Azure storage account is succeeded.
5. I don't find any bug in the script.

[2020-02-08 06:57] iroenu commented on #65
I am Wenbin Guan.

Estimate: 4-5 hours
1 hours to searching the documentation of IoT Hub Device Provisioning Service.
2-3 hours to searching how to create a new IoT Hub Device Provisioning Service.
1 hours to create a new IoT Hub Device Provisioning Service.

[2020-02-09 00:00] ghost commented on #60
2/6 - 3 hours
-worked on POST request coding

[2020-02-09 00:02] ghost commented on #60
2/8 - 4 hours
-worked on POST request code
-tested requests using Postman
-deployed function to azure

[2020-02-09 00:52] Abdifatah206 commented on #72
Estimation time = 10hrs

[2020-02-09 02:24] toddysm commented on #13
I don't see any information about the task. The following is missing:
- Pull request
- Link to the Wiki page
- Link to the test task
- Estimated time needed for completion
- Actual time needed for comletion

[2020-02-09 02:32] toddysm commented on #10
I don't see all the information needed in the last comment. Things that are missing:
- Estimated time
- Actual time
- Link to the test task (and any bugs)

[2020-02-09 02:32] #10 closed, assigned to Peter-S

[2020-02-09 02:32] #13 closed, assigned to mck368

[2020-02-09 02:37] #11 closed, assigned to lailamay

[2020-02-09 02:38] toddysm commented on #31
We need a report of what was completed.

[2020-02-09 02:38] #31 closed, assigned to mck368

[2020-02-09 02:39] toddysm commented on #34
You need to move this to 'Done' on the board.

[2020-02-09 02:39] #34 closed, assigned to rbeeler

[2020-02-09 02:39] toddysm commented on #12
You need to move this to 'Done' on the board

[2020-02-09 02:39] #12 closed, assigned to rbeeler

[2020-02-09 02:41] #32 closed, assigned to Peter-S

[2020-02-09 02:42] #33 closed, assigned to lailamay

[2020-02-09 03:40] leitto10 commented on #62
I spent another 5 hours troubleshooting because VS code is not letting me import azure functions.

[2020-02-09 03:58] kevinles117 commented on #18
Followed the instructions on the Wiki and the script worked

[2020-02-09 03:58] #1 closed, assigned to iroenu

[2020-02-09 03:58] #18 closed, assigned to kevinles117

[2020-02-09 19:47] Peter-S commented on #69
Estimated time to finish: About 10 hours

[2020-02-09 19:52] Peter-S commented on #69
Time to date: about 10 hours. Research, tutorials, lots of trial and error. Figured out how to accomplish and need to write code and instructions(Wiki)

[2020-02-09 23:05] tcoducayen commented on #66
Date 2/9 Start time: 1PM Estimated time to take: 4 hrs

Description:

Researching what model works best for creating development model automation

[2020-02-09 23:44] lailamay commented on #68
I estimate this task to take me around **8 hours**.

- Feb 5th: 30 minutes on research
- Feb 6th: 45 minutes on research/practice lab
- Feb 7th: 5 hours, tutorials and actual trial and error coding with Peter
- Feb 10th: 3 hours, finishing my own task as well as testing task #1 which is related to mine.
- Feb 11th: It took me a total of **10 hours**. I originally thought it might take this long an

[2020-02-09 23:45] tcoducayen commented on #66
went to portal, created Automation account using the name convention:

tho-rg-feat-usw2-task66

[2020-02-10 00:04] tcoducayen commented on #66
finished creating the resource group. Here is the link to it:

https://portal.azure.com/#@toddysmlive.onmicrosoft.com/resource/subscriptions/9f4dcf43-aa06-457b-b975-f0216baef20d/resourceGroups/tho-rg-feat-usw2-task66/providers/Microsoft.Automation/automationAccounts/tho-rg-feat-usw2-task66/overview

[2020-02-10 00:05] tcoducayen commented on #66
End time: 4pm
Total Time taken: 3hrs

[2020-02-10 00:10] tcoducayen commented on #66
How to test:

- [ ] open resource group using link above
- [ ] under "process automation" click "Runbooks"
- [ ] click "AzureAutomationTutorialScript" runbook
- [ ] click "Start" in the top bar
- [ ] once status changes from running to completed, click job
- [ ] click output

this output replaces all of the resource groups

[2020-02-10 00:12] tcoducayen commented on #83
Resource:

https://portal.azure.com/#@toddysmlive.onmicrosoft.com/resource/subscriptions/9f4dcf43-aa06-457b-b975-f0216baef20d/resourceGroups/tho-rg-feat-usw2-task66/providers/Microsoft.Automation/automationAccounts/tho-rg-feat-usw2-task66/overview

[2020-02-10 00:12] tcoducayen commented on #83
How to test:

- [ ] open resource group using link above
- [ ] under "process automation" click "Runbooks"
- [ ] click "AzureAutomationTutorialScript" runbook
- [ ] click "Start" in the top bar
- [ ] once status changes from running to completed, click job
- [ ] click "Output"

this output replaces all of the resource groups

[2020-02-10 00:15] mck368 commented on #13
I estimated around 9 hours for completion. Was able to complete it in 8 hours.

Link to Review
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/31

Link to Wiki
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/IOT-Team-Task-%2313:-Console-application-that-uploads-a-file-to-Azure-Storage-blob

[2020-02-10 00:19] #66 closed, assigned to tcoducayen

[2020-02-10 00:20] mck368 commented on #31
I was able to set up Raspberry pi on my computer. Once the Raspberry pi was plugged in through the USB, I was able to get the IP address and SSH into the Raspberry pi. The wifi did not need to be configured on my machine.

[2020-02-10 18:17] Yozelinm commented on #16
PULL REQUEST: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/tree/ARMTemplate-Script-IoTResource/devops/IoT

[2020-02-10 18:30] lailamay commented on #11
I estimated sprint 1's task to take about 10 hours.

I worked about 3 hours for 5 days. This included setting up the device.

[2020-02-10 20:48] jerwest commented on #6
**PULL REQUESTS:**
[#101](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/101)
[#102](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/102)
[#103](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/103)
[#104](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/104)

**WIKI:**
[UI Team Sprint #1

[2020-02-10 21:07] jerwest commented on #24
TASK TO TEST:
[Develop simple toggle React component #7 ](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/7)

WIKI FOR TASK:
[TextComponent state exchange with ToggleSwitch](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/TextComponent-state-exchange-with-ToggleSwitch)

COMMENTS:
Code looked good and worked well, it toggled on and off when

[2020-02-10 21:08] #24 closed, assigned to jerwest

[2020-02-10 21:15] #6 closed, assigned to jerwest

[2020-02-10 23:46] tcoducayen commented on #16
-Using this article:
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-rm-template-powershell
It looks like it needs to be a New-AzResourceGroupDeployment, not an Az-IotHub

-Also, don't forget the ` marks at the end of each of the lines

[2020-02-11 00:19] tcoducayen commented on #16
While testing, I also found this:

"message": "Invalid PartitionCount 4 - value must be between 2 and 2. If you contact a support representative please include this correlation identifier: b920d98b-a16a-4d58-81cd-1136da2ce20b, timestamp: 2020-02-10 23:51:57Z, errorcode:
IH400016."

I believe you have to change the Partition count in the Template to be 2, not 4

[2020-02-11 00:24] Peter-S commented on #69
Created python file to simulate information to send to iot device

[WiKi Page](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Iot-team-task-%2369---send-error-information(broken-water,-missing-coffee-and-water-flow-issue)-to-iot-device)

[Pull Request](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/113)

[2020-02-11 00:24] tcoducayen opened #114 "ARM Template IOT Hub resource - bug"
While testing, I also found this:

"message": "Invalid PartitionCount 4 - value must be between 2 and 2. If you contact a support representative please include this correlation identifier: b920d98b-a16a-4d58-81cd-1136da2ce20b, timestamp: 2020-02-10 23:51:57Z, errorcode:
IH400016."

I believe you have to change the Partition count in the Template to be 2, not 4

_Originally posted by @tcoducayen in

[2020-02-11 00:24] Peter-S commented on #69
Total time is 15 hours

[2020-02-11 02:10] ghost commented on #60
2/10 - 4 hours
-added comments
-added status codes
-tested work locally
-deployed updated work to Azure and tested URL using Postman
-fixed local file issue
-wrote wiki test instruction

[2020-02-11 03:33] eatlunchnow commented on #59
Task and documentation have been completed. It took roughly about 6 hours to complete this task which included research on what program would be needed to complete the task, how to connect the database to the program, writing and executing the code. What took up the most time was having to make two attempts to update Visual Studio.

Task: https://github.com/North-Seattle-College/ad440-winter2020-t

[2020-02-11 04:04] leitto10 commented on #62
4 hours

finally got the put request working.
-added status codes
-tested work locally
-deployed to Azure and tested URL using Postman

Link to my task62 wiki page
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/API-PUT

[2020-02-11 05:01] lailamay commented on #68
**1. Link to PR on Git:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/117

**2. Link to Wiki page:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/IoT-Team-task-%2368--Simulated-IoT-device----sends-machine-info-(scheduled-to-run-every-5-minutes)

**3. Link to test task:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday

[2020-02-11 06:09] Yozelinm commented on #114
bug has been resolved! See new PR

[2020-02-11 21:52] lailamay commented on #86
**Steps to test:**
I copied the Python code in a vs code file and save it to a local folder on my machine.
Connected to our Azure portal and opened  Azure powershell terminal.
I used the command to add Azure CLI &
the command to run on Azure CLI
Then in my command prompt I set path to local folder with Python code & entered Python SimulatedDevice.py to open.
The messages (Broken water, Water flow

[2020-02-11 22:00] eatlunchnow commented on #77
I was able to successfully test Ken's task. After I sent the POST request through the Postman program, I went to my Azure Portal and saw my JSON code `{'name': 'kiara', 'task': "test Ken's task"}` under the Monitor > Invocation Details tab.

[2020-02-11 22:07] eatlunchnow commented on #59
I successfully tested Ken's task (Task #60).
Test: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/77

[2020-02-11 22:23] sanfordwinslow commented on #61
wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/API-GET-request

github pr: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/commit/ce341134f5646cd826e0b62bf1f933aaf99121c3

tested: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/62

[2020-02-11 22:24] sanfordwinslow commented on #61
Time to complete task: 18 hours

[2020-02-11 23:50] sanfordwinslow commented on #62
Tested in postman and saw logs in azure as successful.
Must get permission from devops to see logs in azure

[2020-02-12 01:11] leitto10 commented on #77
I was able to test successfully ken-rg-feat-usw2-task60 resource group. I copy the URL and paste it in Postman and got a 200 OK status response. I pass a json body with { "name" : "jose" }. I also test it the task on the azure portal and I got the same results.

[2020-02-12 01:12] iroenu commented on #65
Task: [#65](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/65)

Review: [#82](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/82)

Pull Request: [#123](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/123)

Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Automation-for-Device-p

[2020-02-12 01:28] siergieyk commented on #91
After loading the application, I was able to see the table with the available machines. The table would show machine ID, Address, Vendor, and Status.

The search table has an option to search for the machines, by typing text. The search table will look for searched phrases in every column.

To verify if the table shows correct information, I loaded the JSON file and verified that the information i

[2020-02-12 01:28] #91 closed, assigned to siergieyk

[2020-02-12 01:33] leitto10 commented on #78
I was able to test successfully san-zg-feat-usw2-task61 resource group. I copy the URL and paste it in Postman and got a 200 OK response. I pass params,   machine: coffemaker, machineId: 384743627

[2020-02-12 01:34] iroenu commented on #83
I login in the Azure Accout, go to the Azure portal.
There is one resource which created for task 66.
The resource is for the Automation Account.
The resource name is tho-rg-feat-usw2-task66.
I cannot find any App Service Environment.
The task-66 should create a App Service Environment instead of Automation Account.
Please fix it.

[2020-02-12 01:35] isherep commented on #92
No complete feature to test yet.
Jeremy addressed the team that he is delayed with this feature due to family circumstances.

[2020-02-12 01:39] ghost commented on #60
Total time: 15 hours

Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/API-Machines-POST

Pull Request:  https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/115

Test Task:  https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/78

[2020-02-12 01:40] isherep commented on #74
Wiki Page:
       https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-Table-with-failing-machines-(searchable-table(location,-wrongness-level,-model,-etc),-machine-identifier-task-%2374

Pull requests:
- https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/108
- https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/120.
- http

[2020-02-12 01:42] sanfordwinslow commented on #79
tested and commented in https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/79

[2020-02-12 01:46] ghost commented on #78
Was able to test GET request successfully.  I copied the given URL to Postman, added params key and created JSON body for testing.  Request returned correct results.

[2020-02-12 02:47] #74 closed, assigned to isherep

[2020-02-12 16:12] Abdifatah206 commented on #23
wireframe is completed.

[2020-02-12 16:12] #23 closed, assigned to Abdifatah206

[2020-02-12 16:14] Abdifatah206 commented on #9
**Pull requests:**
[#09](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/9)

**Wiki**

[Develop login page using Azure Active Directory login tokens #9](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Sign-in-button-with--Azure-AD)

**Test Tesk#**
[Review: Develop wireframes #23](https://github.com/North-Seattle-College/ad440-winter2020-tue

[2020-02-13 03:46] Abdifatah206 commented on #23
**Test Task**
[Review: Develop wireframes #23](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/23)

**WIKI TestTask**

[Develop Wireframe Steps](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-Team---Sprint-%231---Task-%236:-Develop-Wireframes)

**Initial comments**
at first, the wireframe was full of pictures, after the instructor comme

[2020-02-13 14:20] jerwest opened #128 "Create a key value with all secrets & automate it with ARM template & Visual Studio"

[2020-02-13 14:21] jerwest opened #129 "Connect the Iot function to Iot Hub, & automate it (powershell)"

[2020-02-13 14:22] jerwest opened #130 "Configure proxies & custom domains + automation of Azure Functions"

[2020-02-13 14:22] jerwest opened #131 "Configure an application gateway to route the functions (See Toddy’s sketch for visual representation)"

[2020-02-13 14:23] jerwest opened #132 "Deploy and Azure function to function resources using Travis CI (this task is taking Mustafa’s sprint 2 task 1 to next step)"

[2020-02-13 14:25] jerwest opened #133 "Review: Create a key value with all secrets & automate it with ARM template & Visual Studio"

[2020-02-13 14:26] jerwest opened #134 "Review: Connect the Iot function to Iot Hub, & automate it (powershell)"

[2020-02-13 14:27] jerwest opened #135 "Review: Configure proxies & custom domains + automation of Azure Functions"

[2020-02-13 14:28] jerwest opened #136 "Review: Configure an application gateway to route the functions (See Toddy’s sketch for visual representation)"

[2020-02-13 14:29] jerwest opened #137 "Review: Deploy and Azure function to function resources using Travis CI (this task is taking Mustafa’s sprint 2 task 1 to next step)"

[2020-02-13 14:39] jerwest opened #138 "Investigate how to pull data out of the coffee machine (reading bunch of documentation)"

[2020-02-13 14:40] jerwest opened #139 "Coffee machine simulation device"
Python program to send simulated information to Iot Device on Iot Hub. SN: , MODEL: and VENDOR:

[2020-02-13 14:41] jerwest opened #140 "Wrapping function for updating/creating machine in database(event triggered function) devops connects function to IoT hub/backend has the function GET/POST/PUT API's"
I will be transferring the simulated IoT device info (serial #, model, vendor) into the database, with the help of an event triggered function that is connected to IoT Hub.

[2020-02-13 14:41] jerwest opened #141 "DELETE /machines/ {id}"

[2020-02-13 14:45] jerwest opened #142 "Review: Investigate how to pull data out of the coffee machine (reading bunch of documentation)"

[2020-02-13 14:46] jerwest opened #143 "Review: Coffee machine simulation device"

[2020-02-13 14:46] jerwest opened #144 "Review: Wrapping function for updating/creating machine in database(event triggered function) devops connects function to IoT hub/backend has the function GET/POST/PUT API's"

[2020-02-13 14:47] jerwest opened #145 "Review: DELETE /machines/ {id}"

[2020-02-13 15:07] jerwest opened #146 "Table inside the tabs and populate from GET/machines"

[2020-02-13 15:08] jerwest opened #147 "Show details of the machine and populate from GET/machines/{uid} and populate from GET/machines/{uid}"

[2020-02-13 15:09] jerwest opened #148 "Update machine details UI (form) and call PUT/machines/{uid} API"

[2020-02-13 15:10] jerwest opened #149 "Make API URLS not hard coded"

[2020-02-13 15:12] jerwest opened #150 "Review: Table inside the tabs and populate from GET/machines"

[2020-02-13 15:13] jerwest opened #151 "Review: Show details of the machine and populate from GET/machines/{uid} and populate from GET/machines/{uid}"

[2020-02-13 15:14] jerwest opened #152 "Review: Update machine details UI (form) and call PUT/machines/{uid} API"

[2020-02-13 15:14] jerwest opened #153 "Review: Make API URLS not hard coded"

[2020-02-13 15:22] jerwest opened #154 "POST storing data in the database, read SQL connection string"

[2020-02-13 15:23] jerwest opened #155 "GET /machines returns all machines info from the database, read SQL connection string"

[2020-02-13 15:25] jerwest opened #156 "GET/machines/{id} returns single machine info from DB, read SQL connection string"

[2020-02-13 15:27] jerwest opened #157 "PUT/machines/{id} updates the machine in DB, read SQL connection string"

[2020-02-13 15:29] jerwest opened #158 "Review: POST storing data in the database, read SQL connection string"

[2020-02-13 15:30] jerwest opened #159 "Review: GET /machines returns all machines info from the database, read SQL connection string"

[2020-02-13 15:30] jerwest opened #160 "Review: GET/machines/{id} returns single machine info from DB, read SQL connection string"

[2020-02-13 15:31] jerwest opened #161 "Review: PUT/machines/{id} updates the machine in DB, read SQL connection string"

[2020-02-13 19:20] #92 closed, assigned to isherep

[2020-02-13 19:21] #8 closed, assigned to isherep

[2020-02-13 19:21] #26 closed, assigned to isherep

[2020-02-13 19:57] lailamay commented on #140
I estimate this task to take around 10 hours.

[2020-02-14 00:11] #79 closed, assigned to sanfordwinslow

[2020-02-14 01:42] lailamay commented on #140
- **Feb 13**: 45 minutes on research (Microsoft Azure documents)

[2020-02-15 00:47] rbeeler commented on #70
pull request: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/162
wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/IoT-Edge-module-for-uploading-config-every-five-minutes
task review: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/88

time this week: about 15 hrs trying to troubleshoot problems with running

[2020-02-15 04:00] rbeeler commented on #88
expected outcomes: be able to see activity in our Azure Hub that comes from running the python module

1. All dependencies needed are already installed including: Docker, Python, Pip and iotedgehubdev

2. iotedgehubdev setup -c "<edge-device-connection-string>"
This step didn't seem to do anything I believe because I was already connected, but also of note, I got no errors, so that is good.

3. St

[2020-02-15 21:13] eatlunchnow commented on #155
This task will take me 25 hours.

[2020-02-16 01:13] ghost commented on #154
Estimated time: ~20 hours

[2020-02-16 06:35] lailamay commented on #140
- **Feb 15th:** 4 hours on going through the steps on a personal Azure account

[2020-02-16 22:57] leitto10 commented on #157
I think this task will take me about 20 hours to complete it.

[2020-02-16 23:43] mck368 commented on #71
Estimated time: 20 hours.
Time to complete: 15 hours.

Link to Wiki
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/IOT-Team-Sprint-2-Task-4:-IOT-Edge-Module-to-upload-log-data

[2020-02-17 09:25] mrvirus9898 commented on #60
Wiki link is -> https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/API-POST-request

[2020-02-17 09:33] mrvirus9898 commented on #62
Please remember to mention your test task number, and the pull request number in these issues.

[2020-02-17 09:48] mrvirus9898 commented on #76
@leitto10 Dont forget to fill this section, or at least link it to the pull request where you have your other tests.

[2020-02-17 09:59] mrvirus9898 commented on #66
@tcoducayen Did you make a pull request for this issue? Do you have a wiki page?

[2020-02-17 15:25] leitto10 commented on #62
This is my pull request # https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/163

[2020-02-17 15:32] leitto10 commented on #62
I'm testing all task:
Review Get/machines/id https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/78
Review Post/machines/id https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/77

[2020-02-17 23:28] ghost commented on #154
2/15 - 3 hours
-Researched how to connect request to sql

[2020-02-18 00:45] lailamay commented on #140
- **Feb 17th:** 4 hours in vs code and powershell (already at the time I estimated! )

[2020-02-18 16:54] Abdifatah206 commented on #90
**Test Task**
[Review: Chrome for the page (logo component, left side navigation, work area component) #90](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/73)

**Wiki**

[Side Navigation and Logo Task #73, 1 out of 2 SideNav.js](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Side-Navigation-and-Logo-Task-%2373,-1-out-of--2-SideNav.js)

**

[2020-02-18 16:54] #90 closed, assigned to Abdifatah206

[2020-02-18 22:19] #114 closed, assigned to Yozelinm

[2020-02-18 22:31] Peter-S commented on #139
Est Time: 10 hours. This is kind of a repeat for me from the last sprint. I will spend time helping my team mates and learning about what else we need to do.

[2020-02-18 22:33] Peter-S commented on #139
Sat 15th - 4 hours. did my sprint work and helped Laila with the wrap around function

[2020-02-18 22:34] Peter-S commented on #139
mon 17th - 3.5 hours - helped Laila with the wrap around function

[2020-02-18 22:40] siergieyk commented on #73
**Pull Request:**
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/116

**Wiki:**
**Task Management:**
SideNav
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Side-Navigation-and-Logo-Task-%2373,-1-out-of--2-SideNav.js
PageTabs
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Tabs-Task-%2373,-2-out-of-2-PageTabs.js

[2020-02-18 22:41] #73 closed, assigned to siergieyk

[2020-02-19 03:19] leitto10 commented on #157
I spent 5 hours doing research and trying to connect my putRequest function app to the SQL database but no luck so far.

[2020-02-19 06:01] tcoducayen commented on #128
**key vault resource:**
https://portal.azure.com/#@toddysmlive.onmicrosoft.com/resource/subscriptions/9f4dcf43-aa06-457b-b975-f0216baef20d/resourceGroups/tho-kv-usw2-task128/providers/Microsoft.KeyVault/vaults/pog-vault1/overview

**wikipage:**
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/tree/tho-kv-usw2-task128/devops/azure-keyvault

**pull request:**
https://github.com

[2020-02-19 09:22] lailamay commented on #140
- **Feb 18th:** 1 hour of troubleshooting vs code

[2020-02-20 00:59] ghost commented on #154
2/18 - 2 hours
-researched how to set connection strings

[2020-02-20 11:43] iroenu commented on #131
Estimate Time: 20 hours
1-2 hours researching the documentation of application gateway.
4-5 hours researching how an application gateway works.
1 hour create powershell script for application gateway.
8-9 hours researching the application gateway routing.
2-3 hours configure an application gateway to route the functions

[2020-02-21 00:16] ghost commented on #154
2/19 - 2 hours
-research how to connect connection string
-set server firewall
-troubleshooted access to key vault
-created access point

[2020-02-21 00:26] leitto10 commented on #157
I created a key vault secrete int the revolt resource group and connect it to my function putRequets. I also added the identity to my function and help my teammates connect to the key vault.  3 hours to figure this out.

[2020-02-21 04:40] ghost commented on #154
2/20 - 3 hours
-added reference
-created managed service identity
-researched coding logic
-researched pyodbc package
-researched methods to test code

[2020-02-21 22:41] lailamay commented on #140
- **Feb 20th**: 2 hours on Event grid subscription.

[2020-02-22 02:58] #65 closed, assigned to iroenu

[2020-02-22 02:58] #82 closed, assigned to Yozelinm

[2020-02-22 03:16] #16 closed, assigned to Yozelinm

[2020-02-22 03:17] #22 closed, assigned to Yozelinm

[2020-02-22 20:39] ghost commented on #154
2/21/20 - 2 hours
-wrote code to insert data
-researched python code to connect key vault

[2020-02-23 02:42] lailamay commented on #140
- **Feb 22:** 4 hours on function code/troubleshooting

[2020-02-23 03:19] ghost commented on #154
2/22 -4 hours
-troubleshoot pyodbc package not reading after deployed
-fixed pyodbc package to read after deploy
-researched reading environment variable

[2020-02-24 04:18] iroenu commented on #132
I haven't seen any Travis CI in Melimam's branch.
I slack to Melimam and asked when he can finish his task and wait for his response.

[2020-02-24 04:19] iroenu commented on #137
I haven't seen any Travis CI in Melimam's branch.
I slack to Melimam and asked when he can finish his task and wait for his response.

[2020-02-24 05:36] jerwest commented on #75
Estimated Task TIme:
10 Hours

[2020-02-24 06:01] jerwest commented on #75
**PULL REQUESTS:**
[#168](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/168)

**WIKI:**
[Team Sprint #2 Task #75 Full Machine Details Component](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-Team-Sprint-%232-Task-%2375:-Full-Machine-Details-Component)

**TEST TASK:**
[Review: Signed in user component #89](https://github.com/North-Seatt

[2020-02-24 06:08] ghost commented on #154
2/23 -7 hours
-researched os.environ
-researched environment variables from Key Vault
-created try/except and log to read error details
-researched solutions to error: 'IM002', '[IM002] [unixODBC][Driver Manager]Data source name not found and no default driver specified (0) (SQLDriverConnect)
-researched ODBC driver
-made changes in connection string for testing connection
-troubleshooted connecti

[2020-02-24 06:45] jerwest commented on #89
TASK TO TEST:
[Signed in user component #72](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/72)

WIKI FOR TASK:
[UI Team Sprint #2 Task #72: Signed in user component](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-Team-Sprint-%232-Task-%2372:-Signed-in-user-component)

COMMENTS:
Need to follow up with Abdi to make sure all is good.

[2020-02-24 07:04] jerwest commented on #7
closed it for Siergiey

[2020-02-24 07:04] #7 closed, assigned to siergieyk

[2020-02-24 07:05] jerwest commented on #25
closed it for Siergiey

[Develop simple text React component #8](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/8)

[2020-02-24 07:05] #25 closed, assigned to siergieyk

[2020-02-24 07:22] jerwest commented on #75
this task is now complete and will be closed

[2020-02-24 07:22] #75 closed, assigned to jerwest

[2020-02-24 18:01] #21 closed, assigned to tcoducayen

[2020-02-24 18:03] Yozelinm commented on #135
Task assigned to Kevin Le

[2020-02-24 19:59] isherep commented on #92
I tested the machine detail with below scenario:
1. Started localhost:/3000
2. Verified that the table with machines is present
3. Selected random row from the table by clicking
4. The expanded area below the row shows full machine details as expected:
- Machine ID
- Model
- Status
- Description
- Address:
- Contact
- E-mail
- Phone

[2020-02-24 20:00] isherep commented on #146
I estimate this task will take me 15 hours

[2020-02-25 02:44] lailamay commented on #140
- **Feb 24:** 4 hours on connecting triggered function to GET/POST/PUT functions

[2020-02-25 06:21] ghost commented on #154
2/24 -3 hours
-researched python drivers
-installed ODBC drivers 13 and 17 for sql
-troubleshoot connection to database

[2020-02-25 07:19] mrvirus9898 opened #178 "Bug: Error thrown when connected to database with supplied ODBC link"
Python, Azure, Function, local machine, Failure on execution, bug, back-end team, devops team

When a user attempts to connect to the Azure database on their local machine via python function, the following error is consistantly thrown. This prevents the function from continuing to execute.

1) Ensure that python, pyodbc, azure, and vscode are installed on the local machine
2) Open any Azure Funct

[2020-02-25 07:36] mrvirus9898 commented on #178
Upon review of the code, I found that the connection string syntax is correct; the connection info is in quotes, and there are no unneeded spaces per: https://stackoverflow.com/questions/46045834/pyodbc-data-source-name-not-found-and-no-default-driver-specified

During research, I found this video online, that demonstrated a pyodbc connection to a local SQL server instead of an Azure SQL server. I

[2020-02-25 20:12] lailamay commented on #140
- **Total hours spent on task:** 30
- **Link to PR:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/228
- **WIKI:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/IoT-Team-task-%23140--Wrapping-function-for-updating-creating-machine-in-database(event-triggered-function)-devops-connects-function-to-IoT-hub-backend-has-the-function-GET-POST-

[2020-02-25 23:20] Peter-S commented on #139
Finished task. Pushed to git hub. Created pull request. Wrote instructions for the Wiki Page. Helped Laila with her task. 8 hours.

[2020-02-25 23:31] Peter-S commented on #139
Total time in 15.5 hours

[Wiki Page](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Iot-Team-Task%23139-Coffee-machine-simulation-device-with-data-that-matches-database-scheme)

[Pull reqest](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/177)

[Test Task](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/144)

[2020-02-25 23:56] Peter-S commented on #144
Nothing posted on Wiki yet but I have been working with Laila and the event grid hub is hooked up to the the Iot device and the Function. When i run the simulated device the the function is triggered and the JSON file is delivered. It does not yet run the next functions. PUT, POST or GET. Half way done.

[2020-02-26 00:09] eatlunchnow commented on #155
Working on this task has surpassed 25 hours and counting. This task is not complete. I am still working on it.

[2020-02-26 00:32] iroenu commented on #131
Task: [#131](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/131)

Review: [#136](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/136)

Pull Request: [#179](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/179)

Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/DevOps-Sprint-3-Tas

[2020-02-26 01:02] iroenu commented on #137
I go to https://travis-ci.com/.
Connect my GitHub Account to TravisCI.
I only can see the pull requests, branches, and build history in the TravisCI.
But this is no for the task 137 Deploy and Azure function to function resources using Travis CI.
I didn't see any branch or pull request for task 137.
The task 137 haven't completed.
I will slack to Melimam again and asked when he can finish.

[2020-02-26 01:05] iroenu commented on #137
I slack to Melimam, and he said he can't completed the task 137 on time.

[2020-02-26 04:08] mck368 commented on #141
Estimated time: 25 hours
Actual time: 20 hours

Link to Wiki:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/API-DELETE-machines-%7Bid%7D

Link to test task:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/142

Link to Pull Request:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/231

[2020-02-26 14:46] jerwest opened #182 "PUT API call to edit machines + Error handling"

[2020-02-26 14:46] jerwest opened #183 "GET Machines/{uid} + Error handling"

[2020-02-26 14:46] jerwest opened #184 "GET ALL Machines + Error handling"

[2020-02-26 14:46] jerwest opened #185 "Make URL not hardcoded + DELETE Machine + Error handling"

[2020-02-26 14:52] jerwest opened #186 "Event grid trigger function + Logging + Config"

[2020-02-26 14:52] jerwest opened #187 "Deploy the simulation on the Pi + AutoStart"
Deploy simulated device information sending to the pi and run on start.
about 10 hours

[2020-02-26 14:52] jerwest opened #188 "Ti (Texas Instrument) hardware running (Docker installed?)"

[2020-02-26 15:04] jerwest opened #189 "Delete Machine + Logging + Config (Debug, Info and Error)"

[2020-02-26 15:05] jerwest opened #190 "PUT Machine + Logging + Config (Debug, Info and Error)"

[2020-02-26 15:05] jerwest opened #191 "POST Machine + Logging + Config (Debug, Info and Error)"

[2020-02-26 15:05] jerwest opened #192 "GET Machines + Logging + Config (Debug, Info and Error)"

[2020-02-26 15:05] jerwest opened #193 "GET Machine w/ID + Logging + Config (Debug, Info and Error)"

[2020-02-26 15:16] jerwest opened #194 "Travis CI for the website + deploy React App to Azure Storage website"

[2020-02-26 15:16] jerwest opened #195 "Travis CI for deploying functions called to Azure (in a feature branch)"

[2020-02-26 15:16] jerwest opened #196 "Assign custom domain on the app gateway + SSL certificate from key vault (api.1edusite.com)"

[2020-02-26 15:16] jerwest opened #197 "Development environment (include sql database, function endpoints, IoT hub and event grid)"

[2020-02-26 15:16] jerwest opened #198 "CORS configurations on the functions + automate with Powershell"

[2020-02-26 15:23] jerwest opened #199 "Review: Travis CI for the website + deploy React App to Azure Storage website"

[2020-02-26 15:23] jerwest opened #200 "Review: Travis CI for deploying functions called to Azure (in a feature branch)"

[2020-02-26 15:23] jerwest opened #201 "Review: Assign custom domain on the app gateway + SSL certificate from key vault (api.1edusite.com)"

[2020-02-26 15:23] jerwest opened #202 "Review: CORS configurations on the functions + automate with Powershell"

[2020-02-26 15:23] jerwest opened #203 "Review: Development environment (include sql database, function endpoints, IoT hub and event grid)"

[2020-02-26 15:30] jerwest opened #204 "Review: PUT API call to edit machines + Error handling"

[2020-02-26 15:30] jerwest opened #205 "Review: GET Machines/{uid} + Error handling"

[2020-02-26 15:30] jerwest opened #206 "Review: GET ALL Machines + Error handling"

[2020-02-26 15:30] jerwest opened #207 "Review: Make URL not hardcoded + DELETE Machine + Error handling"

[2020-02-26 15:41] jerwest opened #208 "Review: Delete Machine + Logging + Config (Debug, Info and Error)"

[2020-02-26 15:41] jerwest opened #209 "Review: PUT Machine + Logging + Config (Debug, Info and Error)"

[2020-02-26 15:41] jerwest opened #210 "Review: POST Machine + Logging + Config (Debug, Info and Error)"

[2020-02-26 15:41] jerwest opened #211 "Review: GET Machines + Logging + Config (Debug, Info and Error)"

[2020-02-26 15:41] jerwest opened #212 "Review: GET Machine w/ID + Logging + Config (Debug, Info and Error)"

[2020-02-26 15:53] jerwest opened #213 "Review: Event grid trigger function + Logging + Config"

[2020-02-26 15:54] jerwest opened #214 "Review: Deploy the simulation on the Pi + AutoStart"

[2020-02-26 15:54] jerwest opened #215 "Review: Ti (Texas Instrument) hardware running (Docker installed?)"

[2020-02-26 20:17] lailamay commented on #186
I estimate this task to take 15 hours.

[2020-02-28 00:40] rbeeler commented on #143
Went into Azure Account and clicked on the Cloud Shell.
Tried to Create Storage, and got this error:
Error: 403
{"error":{"code":"AuthorizationFailed","message":"The client 'live.com#ruthbeeler3@gmail.com' with object id '078b8c9f-f7bf-4fc4-9d8d-b3b529545fd1' does not have authorization to perform action 'Microsoft.Storage/storageAccounts/write' over scope '/subscriptions/9f4dcf43-aa06-457b-b975-f

[2020-02-28 02:30] ghost commented on #154
2/27 -7 hours
-completed connection to database
-wrote test queries to insert data
-tested database by insert/update
-researched how to insert data into database from JSON body
-researched parsing JSON body
-troubleshoot pulling data from JSON body
-completed insert data from JSON body

[2020-02-28 23:15] ghost commented on #154
2/28 - 6 hours
-researched how to check for duplicate values in database
-wrote query to check for duplicate data
-wrote code to insert data if data doesnt already exist
-successfully connected to database using key vault
-clean up resources in azure
-clean up code and added comments

[2020-02-28 23:20] ghost commented on #154
Total time: 39 hours
Pull request:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/221
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/224
Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/POST-storing-data-in-the-database,-read-SQL-connection-string
Test: https://github.com/North-Seattle-College/ad440-winter20

[2020-02-29 03:53] lailamay commented on #145
In testing this task, I clicked on Maria's DELETE function's endpoint to check if it's running. It is running, however I don't have access to monitoring the function under _Maria-fun-usw2-task141_ resource, most likely because there's a Secret that was created under the function. Also, Maria let me know that the Python code for the function is incomplete and she is still working on it. I believe a

[2020-02-29 08:15] siergieyk commented on #153
Currently, this task is being worked by Jeremy. Unfortunately, he is still behind on completing this task. As soon as there is an update or anything to report I will reopen the task, and make appropriate updates.

[2020-02-29 08:15] #153 closed, assigned to siergieyk

[2020-02-29 08:17] siergieyk commented on #148
I thought this task would take me around 10 hours. At this point, I'm over this estimate.

* **Pull Requests:**
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/219
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/222

* **Wiki:**
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-Update-machine-details-task%23148

*

[2020-02-29 08:18] #148 closed, assigned to siergieyk

[2020-02-29 15:57] rbeeler commented on #138
time estimate:
I spent about 15 hours overall. About 9 of those hours were spent trying to make the virtual machine work. Since class on Tuesday I have spent 2.5 hours on getting the bootable USB drive, but I still haven't found the necessary documentation for making sure when I boot the security settings won't wipe out windows. The rest of my time was spent getting code composer installed.

For s

[2020-02-29 21:26] leitto10 commented on #157
Total time: 45 hours
Pull request https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/227
Wiki Page: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/PUT-machines-%7Bid%7D-updates-the-machine-in-DB,-read-SQL-connection-string

[2020-02-29 22:07] leitto10 commented on #158
I was successfully able to test this task by:
Opening POSTMAN and entering a json body to create a machine
{
	"Model": "Toddys old model",
	"ModelNum":"1900",
	"ModelPhoto": null,
	"SerialNum":"57563873",
	"VendorID":0,
	"LocationID":1010
}
since the SQL database is auto increment by default, it will create the next MachineID
Than, I went to yoz-sql-feat-usw2-task2 (yoz-sql-server-task2/yoz-sql-fe

[2020-03-01 22:35] ghost commented on #159
In Postman I pasted the provided url and selected the GET request option.  When i ran the request it successfully returned all the machines in database

[2020-03-01 23:31] eatlunchnow commented on #192
It will take me 30 hours to complete this task.

[2020-03-02 00:10] eatlunchnow commented on #158
I was able to successfully test Ken's task. I used this test JSON code: { "MachineID":15, "Model":"CoffeeGrind1000", "ModelNum":"148231", "ModelPhoto": null, "SerialNum":"0000135", "VendorID":0, "LocationID":1010 }. I ran a SELECT * query in the database and found it was added to the table. The only difference was the MachineID is 56 instead of 15 since that column is auto-increment.

[2020-03-02 00:34] eatlunchnow commented on #155
This task took me roughly 32 hours to complete.
**Task:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/155
**Wiki:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Back-End-Team-Task-%23155:-GET--machines-returns-all-machines-info-from-the-database,-read-SQL-connection-string
**Pull request:** https://github.com/North-Seattle-College/ad

[2020-03-02 02:13] eatlunchnow commented on #161
I was able to successfully test Jose's task. I was able to update the data of the first machine (machineID = 1).

[2020-03-02 07:42] leitto10 commented on #159
I was successfully able to test this task by opening Postman and send thing a GET Request to the following api link.   https://kiara-fun-feat-usw2-task155.azurewebsites.net/api/getMachine?code=14B1U2/gQPU6sRlIfwDt2iaVsaSCfTuccDvM1YgEDAbQrDzLQjWQyQ==
and I got all the machines info

[2020-03-03 01:08] ghost commented on #191
Estimated time: 10 hours

[2020-03-03 06:47] mrvirus9898 commented on #128
@tcoducayen you need to make Wiki pages for your work, not just linking your Github branch

[2020-03-03 21:13] isherep commented on #184
I estimate this feature will take 8 hrs of time

[2020-03-03 22:31] isherep commented on #184
- Explored error handling cases

[2020-03-03 22:35] isherep commented on #146
Last week I spent 2 hours trying to merge two tables together - Siergey's did and one Jeremy's  - UserTableFrame.js and MachinesMain.js.
It is so far not successful. The work is in this branch https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/tree/feature-ui-merging-tables-iryna.
Also, I communicated with the person from API team about enabling CORS in the Azure function getMa

[2020-03-03 23:40] #69 closed, assigned to Peter-S

[2020-03-03 23:40] #87 closed, assigned to Peter-S

[2020-03-03 23:40] #139 closed, assigned to Peter-S

[2020-03-03 23:40] #144 closed, assigned to Peter-S

[2020-03-03 23:43] Peter-S commented on #187
Saturday Feb 29th - 5 hours research with lots of trial and error, just errors.

[2020-03-03 23:44] Peter-S commented on #187
Sunday March 1st. - 4 hours got it all to work today. :)

[2020-03-04 00:30] leitto10 commented on #157
Task to test: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/158
I always test all my teammates tasks

[2020-03-04 05:16] ghost commented on #191
3/3 -2 hours
- added try/except
- added logging.infos
- added logging.exceptions

[2020-03-04 17:48] Abdifatah206 commented on #90
Testing scenario:

- checkout branch feature-siergiey-task#73
- start localhost by npm start
- inside the main page, sidebar navigation created with "HOME", "ABOUT", "ROASTERS","EQUIPMENT,"SNACKS","SERVICES","QUOTES".
-sidebar navigations don't have a linked pages.
- at the top left corner, logo component placed.
- in the work area component, a table was created for the mock data.

[2020-03-05 22:02] #59 closed, assigned to eatlunchnow

[2020-03-06 00:44] leitto10 commented on #190
I think this task will take me about 20 hours to complete.

[2020-03-06 02:22] eatlunchnow commented on #160
I tested Sanford's API with the machine id = 1 and it returned all the data in the table from the machine id = 1. It returned: [(1, "Toddy's Model", 'J505htpml', None, '56HT58SJ45KS', 0, 1010)].

[2020-03-06 02:24] #155 closed, assigned to eatlunchnow

[2020-03-08 00:20] tcoducayen commented on #194
this should take me 10 hours to do this project

researching travis ci: 1hr 3/7 4pm-5pm
successfully launched ci with basic settings: 1hr 3/7 5-5:30pm, 6-6:30pm
update travis.yml: 6a - 8a
researched principles: 3/8 8-10a
update node_js documentation on yml:  3/8 10a - 12p
personalize credentials for branch: 3/8 12p - 1p
attempt to continuously integrate website: 3/8 11p - 3/9 1am
added website to

[2020-03-08 17:46] iroenu commented on #196
Estimate Time: 18 hours
Search how to add custom domain on the application gateway: 5 hours.
Search how to add SSL certificate from key vault: 6 hours.
Create a custom domain and add to the application gateway: 30 minutes.
Get the SSL certificate from key vault and add to the application gateway: 1 hour 30 minutes.

[2020-03-08 23:27] Peter-S commented on #187
Finished up task.  - 4 hours
Total time about 13 hours
[Pull requst](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/commit/ea1e45c378884c63fcafd32ff46612fe04e527ea)

[Wiki Page](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Iot-Team-Task-%23187-Deploy-the-simulation-on-the-Pi---AutoStart)

[Test Task](https://github.com/North-Seattle-College/ad

[2020-03-09 03:02] leitto10 commented on #190
spent 7 hours doing trouble shooting with this error:
Connecting to the database failed('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Client unable to establish connection (0) (SQLDriverConnect)')
but I can't get to solve it

[2020-03-09 03:26] lailamay commented on #186
- **3/7:** 4 hours on functions
- **3/8:** 4 hours on GET/PUT function trouble-shooting
- **3/9:** 5 hours on deploying functions on cloud
- **3/10:** 3 hours

[2020-03-09 18:58] isherep commented on #184
Pull request:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/234
Test task:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/206
WIKI:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-team---Populating-database-machine-info-into-the-table

[2020-03-09 19:14] isherep commented on #146
WIKI:
- https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-team---Populating-database-machine-info-into-the-table
PULL REQUEST:
- https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/218
- https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/234
TEST TASK;
- https://github.com/North-Seattle-College/ad440-winter2020-tuesday-r

[2020-03-09 19:19] #146 closed, assigned to isherep

[2020-03-09 21:28] eatlunchnow commented on #192
I overestimated the amount of time this task would take to complete. Right now I'm at about 12 hours.

**Task:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/192
**Wiki:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Back-End-Team-Task-%23192---GET-Machines---Logging---Config-(Debug,-Info,-Error)
**Pull request:** https://github.com/N

[2020-03-10 19:16] ghost commented on #191
3/9 -3 hours

- researched testing code locally
- researched basicConfig logging
- troubleshoot basicConfig
- added debug logs
- troubleshoot exceptions

[2020-03-10 20:11] lailamay commented on #186
- **Total time:** 16 hours
- **PR:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/296
- **Wiki:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/IoT-Team-task-%23186--Event-Grid-Trigger-Function-(-logging,--logging-config)
- **test task:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/214

[2020-03-10 22:51] jerwest commented on #149
*****[Task #185a](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/185) is done.  Completion hours are counted [here](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/185).

PULL REQUESTS:
[#245](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/245)
[#246](https://github.com/North-Seattle-College/ad440-winter2020-

[2020-03-10 23:01] jerwest commented on #185
*****[Task #149](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/149) is done.  Completion hours are counted below.

PULL REQUESTS:
[#253](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/253)

WIKI:
[UI Team Sprint #4 Task #185: Make URL not hardcoded DELETE Machine Error handling](https://github.com/North-Seattle-College/ad440-winter2020-t

[2020-03-10 23:02] jerwest commented on #89
On to Sprint 3!

[2020-03-10 23:02] #89 closed, assigned to jerwest

[2020-03-10 23:10] jerwest commented on #150
TASK TO TEST:
[Table inside the tabs and populate from GET/machines #146 ](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/146)

WIKI FOR TASK:
[UI team Populating database machine info into the table](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-team---Populating-database-machine-info-into-the-table)

COMMENTS:
In working with code,

[2020-03-10 23:10] jerwest commented on #150
this review test task is complete

[2020-03-10 23:10] #150 closed, assigned to jerwest

[2020-03-10 23:11] jerwest commented on #149
task is completed

[2020-03-10 23:11] #149 closed, assigned to jerwest

[2020-03-10 23:23] jerwest commented on #204
TASK TO TEST:
[PUT API call to edit machines + Error handling #182 ](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/182)

WIKI FOR TASK:
[????](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-team---Populating-database-machine-info-into-the-table)

COMMENTS:
Waiting for task to be completed and wiki created for reference so that I can t

[2020-03-10 23:33] lailamay commented on #214
- **Testing steps:**
- Connect to static WIFI that is set up on Raspberry Pi
- Log in to Azure and open Cloud Shell terminal on top of the page
- Type _az extension add --name azure-cli-iot-ext Run_ on Azure CLI (cloud shell)
- Type _az iot hub monitor-events --hub-name Iot-Hub-S3 --device-id MyPythonDevice_
- When prompted - Update dependency (y/n) Y
- Plug in Raspberry Pi, check WIFI
- After a m

[2020-03-11 00:35] isherep commented on #151
Testing scenario:
- checkout branch  feature-Abd-Machinedetail.
- start localhost by npm start
- inside the table with machines locate the blue Details button and click on it.
- the window pups up with displaying fields "Image", "ModelNum", "location", "Adress", "Serial Num". The data is fetched throught the database is reflected correctly and is fed through get All machines API, since the machine

[2020-03-11 00:43] #151 closed, assigned to isherep

[2020-03-11 00:44] isherep commented on #207
Tested following below scenario:
- started localhost
- verified the table the UI  and information is the table is displaying correctly and the request is returning 200 responce code.

[2020-03-11 00:44] #207 closed, assigned to isherep

[2020-03-11 00:59] tcoducayen commented on #194
wikipage:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Travis-CI---storage-website

github branch:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/tree/feature-thomas-task194

current website hosting:
https://reactstoragesite.z5.web.core.windows.net/

travis ci page:
https://travis-ci.com/github/North-Seattle-College/ad440-winter2020-tuesday-re

[2020-03-11 03:44] sanfordwinslow commented on #157
I tested this task in postman and was successful

[2020-03-11 03:48] sanfordwinslow commented on #156
Pull Request: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/251
Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Backend-Team-Task-156:-GET-machines-%7Bid%7D-returns-single-machine-info-from-DB,-read-SQL-connection-string
Tested task: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/157

It took me 55 hours

[2020-03-11 03:50] sanfordwinslow commented on #161
I tested and was successful in updating a machine

[2020-03-11 03:50] iroenu commented on #196
Task: [196](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/196)

Test: [201](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/201)

Pull request: #[252](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/252)

Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/DevOps-Spring-4-Wenbin-

[2020-03-11 03:53] sanfordwinslow commented on #193
this will take me about 20 hrs

[2020-03-11 04:07] iroenu commented on #202
I login in the Azure Portal.
I haven't see any CORS resource.

[2020-03-11 04:08] iroenu commented on #202
I slack to Yozelin, and she said she will do a pull request later.

[2020-03-11 04:57] leitto10 commented on #190
3 -2 hours

added try/except
added logging.infos
added logging.errors
added logging.debugs
added logging.exceptions

[2020-03-11 05:33] leitto10 commented on #190
it took me 15 hours to complete this task

[2020-03-11 17:54] iroenu commented on #202
I login in the Azure Portal.
I still can't see any CORS resource.
This task is pass the due day.

[2020-03-11 19:55] Peter-S commented on #215
Ruth has not posted the Wiki page yet but I was able to work with her on some of what she did. Ultimately there is no docker installed on the Ti and there is no connection to it. Linux is running sometimes on her machine but running what the Ti documentation said to do led nowhere.

[2020-03-12 02:08] ghost commented on #191
3/10 -2 hours
- troubleshoot connecting to database locally
- researched basicConfig

[2020-03-12 04:31] jerwest opened #256 "Change the image type in database & populate the DB with machine images"
(for both feature and dev SQL DBs)

[2020-03-12 04:32] jerwest opened #257 "API to upload image to Azure Storage POST https://api.1edusite.com/images"

[2020-03-12 04:33] jerwest opened #258 "DELETE API deletes also the image from Azure storage"

[2020-03-12 04:33] jerwest opened #259 "Fix PUT and DELETE APIs and add error handling, logging and configuration"

[2020-03-12 04:35] jerwest opened #260 "Fix GET and POST APIs and add error handling, logging and configuration"

[2020-03-12 04:37] jerwest opened #261 "Review: Change the image type in database & populate the DB with machine images"

[2020-03-12 04:38] jerwest opened #262 "Review: API to upload image to Azure Storage POST https://api.1edusite.com/images"

[2020-03-12 04:38] jerwest opened #263 "Review: DELETE API deletes also the image from Azure storage"

[2020-03-12 04:39] jerwest opened #264 "Review: Fix PUT and DELETE APIs and add error handling, logging and configuration"

[2020-03-12 04:39] jerwest opened #265 "Review: Fix GET and POST APIs and add error handling, logging and configuration"

[2020-03-12 04:43] jerwest opened #266 "UI can handle images using URLs and machines without images"

[2020-03-12 04:44] jerwest opened #267 "Remove the tabs on the top and auto refresh the table every 60 seconds"

[2020-03-12 04:45] jerwest opened #268 "Fix PUT and DELETE API calls and add error handling"

[2020-03-12 04:45] jerwest opened #269 "Fix GET and POST API call and add error handling"

[2020-03-12 04:47] jerwest opened #270 "Review: UI can handle images using URLs and machines without images"

[2020-03-12 04:47] jerwest opened #271 "Review: Remove the tabs on the top and auto refresh the table every 60 seconds"

[2020-03-12 04:48] jerwest opened #272 "Review: Fix PUT and DELETE API calls and add error handling"

[2020-03-12 04:48] jerwest opened #273 "Review: Fix GET and POST API call and add error handling"

[2020-03-12 04:52] jerwest opened #274 "Create DEV environment/resources for the back-end that uses api.1edusite.com and www.1edusite.com (Functions and DB)"

[2020-03-12 04:52] jerwest opened #275 "Deploy the latest code to the DEV resources including the web site"

[2020-03-12 04:53] jerwest opened #276 "Configure the App GW to use the DEV back-end"

[2020-03-12 04:53] jerwest opened #277 "Create DEV environment/resources for the UI that uses www.edusite.com"

[2020-03-12 04:54] jerwest opened #278 "Deploy the website to the Azure Storage Blob (React app)"

[2020-03-12 04:57] jerwest opened #280 "Review: Create DEV environment/resources for the back-end that uses api.1edusite.com and www.1edusite.com (Functions and DB)"

[2020-03-12 04:57] jerwest opened #281 "Review: Deploy the latest code to the DEV resources including the web siteReview:"

[2020-03-12 04:58] jerwest opened #282 "Review: Configure the App GW to use the DEV back-end"

[2020-03-12 04:58] jerwest opened #283 "Review: Create DEV environment/resources for the UI that uses www.edusite.com"

[2020-03-12 04:58] jerwest opened #284 "Review: Deploy the website to the Azure Storage Blob (React app)"

[2020-03-12 05:06] jerwest opened #285 "The machine simulator needs to generate every 10 sec new machine - machine identity - has machine name, location, etc."
Est time to accomplish 10 hours

[2020-03-12 05:06] jerwest opened #286 "Remove the hard-coded URLs from the EventGrid function and make it work stable"

[2020-03-12 05:07] jerwest opened #287 "The machine telemetry simulator - hose pressure information, machine identity but will be valve sensor"

[2020-03-12 05:08] jerwest opened #288 "Review: The machine simulator needs to generate every 10 sec new machine - machine identity - has machine name, location, etc."

[2020-03-12 05:09] jerwest opened #289 "Review: Remove the hard-coded URLs from the EventGrid function and make it work stable"

[2020-03-12 05:09] jerwest opened #290 "Review: The machine telemetry simulator - hose pressure information, machine identity but will be valve sensor"

[2020-03-12 05:36] iroenu commented on #202
Finally, Yozelin push her code to github.
I only see the local.setting.json in the folder.
Also, the local.setting.json file is not for the functions.
Here is the link that may help you to fix the json file.
[Link](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS)
She should also create a powershell script for the CORS configurations on the functions.

[2020-03-12 20:00] rbeeler commented on #213
I worked with Laila on this and she sent me her code. I can see the function successes and fails in the Azure Account. There are iot-funapp, and iotapp-function. I was nervous to actually create another function app. Looking back I should have just done it so I could say I tested this properly.

Steps to have done this are here:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-rep

[2020-03-12 20:00] rbeeler commented on #188
This task took me approximately 20 hours to complete because I was trying the wrong Ubuntu versions in the beginning. Also, I really wanted to make to bootable usb drive work, and spent some time on that, but was unable to.

I would estimate someone working through this to give themselves 2-3 hours to get to the point where I stopped. It is very strait-forward, but things like downloading the virt

[2020-03-13 00:27] iroenu commented on #202
I slack to Toddy to ask some help for the CORS configurations on the functions.
Toddy said he believe Yozelin did some of the work.
No bug found.

[2020-03-13 00:48] #61 closed, assigned to sanfordwinslow

[2020-03-13 00:48] #156 closed, assigned to sanfordwinslow

[2020-03-13 00:49] #161 closed, assigned to sanfordwinslow

[2020-03-13 01:11] eatlunchnow commented on #256
This task will take me 5 hours.

[2020-03-13 02:05] #184 closed, assigned to isherep

[2020-03-13 02:08] #128 closed, assigned to tcoducayen

[2020-03-13 03:40] siergieyk commented on #205
**Review Task#183**
**GET Machines/{uid} + Error handling**

On this task, I collaborated with Abdi. I created the pop-up table, and Abdi assigned all the variables to the corresponding fields in order to show all the information about the given machine.

Abdi was able to connect some of the detail of the machine, but not all of them.
The Details popup wouldn't have:

- Machine's Image. It's under

[2020-03-13 03:41] #205 closed, assigned to siergieyk

[2020-03-13 03:41] siergieyk commented on #182
**Pull requests:**
- **Details pop-up for the table:**
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/233
- **ErrorBoundary:**
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/239
- **Cleaning and comments:**
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/279

**Wiki Task#182 (Error Handling):**
https://github.com

[2020-03-13 03:41] #182 closed, assigned to siergieyk

[2020-03-13 03:45] Abdifatah206 commented on #206
**Test Task**
[Review: GET ALL Machines + Error handling #206](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/184)

**WIKI**
(https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-team---Populating-database-machine-info-into-the-table)

**Pull request**
[https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/234](https://

[2020-03-13 03:47] #206 closed, assigned to Abdifatah206

[2020-03-13 03:57] Abdifatah206 commented on #152
**Test Task**
[Review: Update machine details UI (form) and call PUT/machines/{uid} API #152](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/148)

**WIKI**
[https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-Update-machine-details-task%23148](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-Update-machine-deta

[2020-03-13 03:57] #152 closed, assigned to Abdifatah206

[2020-03-13 04:47] Abdifatah206 commented on #183
**Task**
[GET Machines/{uid} + Error handling #183](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/183)

**WIKI**
[GET Machines {uid} Error handling #183](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/GET-Machines-%7Buid%7D---Error-handling-%23183)

**Pull request**
[Machine detail](https://github.com/North-Seattle-College/ad440-winter20

[2020-03-13 04:47] #183 closed, assigned to Abdifatah206

[2020-03-13 05:10] Abdifatah206 commented on #147
**Task**
[Show details of the machine and populate from GET/machines/{uid} and populate from GET/machines/{uid} ](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/147
)

**WIKI**
[GET Machines {uid} Error handling #183](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/GET-Machines-%7Buid%7D---Error-handling-%23183)

**Pull request**
[Machine

[2020-03-13 05:10] #147 closed, assigned to Abdifatah206

[2020-03-14 01:53] sanfordwinslow commented on #193
PR: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/292

Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Backend-Team-Task-%23193-GET-Machine-w-ID---Logging---Config-(Debug,-Info-and-Error)

Tested Task: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Back-End-Team-Task-%23192---GET-Machines---Logging---Confi

[2020-03-14 02:07] sanfordwinslow commented on #211
I get a 404 error when I run this in postman.

[2020-03-14 02:09] sanfordwinslow commented on #211
I get a 500 error with Exception: AttributeError: module 'pyodbc' has no attribute 'interfaceerror'

[2020-03-14 02:12] sanfordwinslow commented on #193
this task took me 15 hours to complete

[2020-03-14 02:13] sanfordwinslow commented on #211
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Back-End-Team-Task-%23192---GET-Machines---Logging---Config-(Debug,-Info,-Error)

[2020-03-14 02:40] leitto10 commented on #190
pull request: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/293
Task to test: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/210
Wikipage: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/PUT-Machine---Logging---Config-(Debug,-Info-and-Error)

[2020-03-14 02:53] sanfordwinslow commented on #258
this will take me about 20 hours

[2020-03-14 03:29] ghost commented on #191
3/12 - 1:30 hours
- troubleshooted log level

[2020-03-14 03:44] ghost commented on #191
3/13 - 2 hours
- continued to resolve log level issue

[2020-03-14 03:48] ghost commented on #191
Total time: 10:30 hours

Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/POST-Machine---Logging---Config-(Debug,-Info-and-Error)-%23191

Pull Request:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/250
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/295

Test task:
https://github.com/North-Seattle-College/ad

[2020-03-14 04:45] leitto10 commented on #210
I was successfully able to test this task by following the wiki documentation. because I have access to this resource group ken-rg-feat-usw2-task60, I can navigate to the logs section in the function and see the debug, info and error logs.

[2020-03-14 07:02] lailamay commented on #286
I estimate this task to take around 12 hours.

[2020-03-14 16:42] eatlunchnow commented on #212
I tested this in Postman and it returned a 200 OK and all the information of the machine with MachineID = 34. When I went to Azure to check the Monitor logs and the app did not run successfully but I saw info and error logs.

[2020-03-14 16:43] eatlunchnow commented on #192
Overall, this task took me 20 hours.
**Test:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/212

[2020-03-14 16:44] #192 closed, assigned to eatlunchnow

[2020-03-14 16:47] eatlunchnow commented on #211
On the night this task was tested my task was unable to start. The app is up and running again.

[2020-03-14 18:07] mck368 commented on #189
Estimated Time to Complete: 10 hours
Approx Time to Complete: 20 hours

Link to pull request
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/297

Link to Wiki
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Delete-Machine---Logging---Config-(Debug,-Info,-and-Error)

Link to Test Task
https://github.com/North-Seattle-College/ad440-winter2020-t

[2020-03-14 18:15] mck368 commented on #209
I tested the function url below per the wiki instructions. I received a "successful request" after entering it into postman. The Invocation Details also displayed log levels of information, debug, and error.

https://jos-rg-fun-usw2-task62.azurewebsites.net/api/putRequest

[2020-03-14 18:27] sanfordwinslow commented on #208
I am getting a 400 error when trying to delete a machine

[2020-03-14 18:28] sanfordwinslow commented on #193
I tried to test https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/208
but was getting a 400 error

[2020-03-14 18:41] ghost commented on #211
I opened Postman, put URL (https://kiara-fun-feat-usw2-task155.azurewebsites.net/api/getMachine?code=14B1U2/gQPU6sRlIfwDt2iaVsaSCfTuccDvM1YgEDAbQrDzLQjWQyQ==) into field and clicked send.  I was able to see all the machines in the http response.  Logged into Azure and in Kiaras function app I was able to see logs of my GET request.  Everything was successful

[2020-03-14 18:52] sanfordwinslow commented on #211
I was able to test again once function was working properly and saw all machines populate and logs in monitoring section of azure

[2020-03-14 19:03] ghost commented on #260
Estimated time: 10 hours

[2020-03-14 19:15] eatlunchnow commented on #256
It took me 5 hours to complete this task.

**Task:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/256
**Pull Request:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/298
**Pull Request:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/307
**Pull Request:** https://github.com/North-Seattle-College/ad440-wint

[2020-03-16 02:10] leitto10 commented on #257
I estimate that this task will take me about 20 hours to complete.

[2020-03-17 06:07] mrvirus9898 commented on #189
@mck368 Dont forget to move your tasks over to done when you are finished.

[2020-03-17 21:44] isherep commented on #269
This week I worked on enabling the Cancel and Save buttons in the Add New machine form. The buttons are enabled and I also fixed the event handling problem when the input does not allow the user to input anything in the field.  These are my commits: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/commit/f8915279d69a35c2535fce8cccfc554b9c8d147f

https://github.com/North-Seatt

[2020-03-18 00:35] Peter-S commented on #285
Time approx 5 hours. Started over the week end and quickly ran into a problem.
"Error: At least one receiver for the endpoint is created with epoch of '3', and so non-epoch receiver is not allowed. Either reconnect with a higher epoch, or make sure all epoch receivers are closed or disconnected." this could take me awhile to figure out. I think it has to do with who the consumer is.

[2020-03-19 03:12] ghost commented on #260
3/15 - 1 hour
- troubleshoot debug level in POST request

[2020-03-19 03:21] ghost commented on #260
3/17 - 2 hour
- Worked with Iryna to get POST request to work with UI.  Successfully connected and able to add new machines
- troubleshoot log level in POST request

[2020-03-19 08:06] lailamay commented on #286
- **3/18:** 3 hours; worked with back-end team member on removing hard coded URLS
- **3/19:** 5 hours
- **3/20:** 6 hours
- **3/22:** 4 hours; worked with UI/API/and my team to get synched
***Special thanks to Peter for testing my task with me and helping out so much

[2020-03-19 22:26] #193 closed, assigned to sanfordwinslow

[2020-03-19 22:26] #208 closed, assigned to sanfordwinslow

[2020-03-20 07:01] leitto10 commented on #257
Created a connection string to blob storage hard coded credential at the moment. and I get the following error
Result: Failure
Exception: ModuleNotFoundError: No module named 'azure.storage'
Stack:   File "/azure-functions-host/workers/python/3.7/LINUX/X64/azure_functions_worker/dispatcher.py", line 242, in _handle__function_load_request
    func_request.metadata.entry_point)
  File "/azure-functi

[2020-03-20 20:27] isherep commented on #269
This week I got add New button to work and successfully send a POST request.
Also, I spend 3 hrs helping a classmate with Delete UI button and DELETE request front end part

[2020-03-20 21:50] ghost commented on #260
3/19 - 2 hours
- Helped Jeremy and Maria get DELETE request to work with UI. successfully connected and able to delete machines from DB
- Fix log level
- Added exceptions for POST request

[2020-03-20 23:40] ghost commented on #260
3/20 - 3 hours
- Added status codes to POST request
- Tested GET machineID using Wiki instructions and was able to successfully read specific machine ID
- Fixed issue in GET machineID where successful logs were not showing in function app monitor
- Changed GET machineID to show debug level logs
- improved GET machineID log details
- added return http response for excepts in GET machineID
- added s

[2020-03-22 17:57] iroenu commented on #276
Estimate Time: 3 hours
Make the route to configure application gateway to the back-end functions: 3 hours.

[2020-03-23 02:12] lailamay commented on #286
- **Total time:** 20 hours
- **PR:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/321
- **Wiki:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/IoT-Team-task-%23286--Remove-the-hard-coded-URLs-from-the-EventGrid-function-and-make-it-work-stable
- **Test task:** https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues

[2020-03-23 03:20] ghost commented on #260
3/21 -2 hours
- Worked with UI team to help them display status of machines.
- Added close connection to database in GET machine
- Tested GET machine using Wiki instructions and was able to see dictionary of machines
- Changed GET machine to show debug level
- Added return http response for excepts in GET machine
- Added status codes for excepts in GET machine

[2020-03-23 03:42] lailamay commented on #290
**Steps to test:**
I copied the Python code in a vs code file and save it to a local folder on my machine.
Connected to our Azure portal and opened Azure powershell terminal.
I used the command to add Azure CLI &
the command to run on Azure CLI
Then in my command prompt I set path to local folder with Python code & entered Python MyPythonDeviceTelemetry.py to open.
The messages on hose pressure, m

[2020-03-23 04:18] #131 closed, assigned to iroenu

[2020-03-23 04:18] #136 closed, assigned to kevinles117

[2020-03-23 08:25] leitto10 commented on #257
keep getting a different error
Result: Failure
Exception: AttributeError: 'dict' object has no attribute 'encode'
Stack:   File "/azure-functions-host/workers/python/3.7/LINUX/X64/azure_functions_worker/dispatcher.py", line 315, in _handle__invocation_request
    self.__run_sync_func, invocation_id, fi.func, args)
  File "/usr/local/lib/python3.7/concurrent/futures/thread.py", line 57, in run

[2020-03-23 20:23] Peter-S commented on #285
Weird sprint. I ended up spending a total of about 10 hours on my task. I had an odd error crop up on azure but was able to fix it and move on. I spent a lot more time help to Laila with her task but that all worked out well. I was also able to help out a Ruth a little also. I ended up learning quite a bit and very much wish we could have been able to hook the Py to the coffee machine. I have my o

[2020-03-23 20:31] Peter-S commented on #289
I do not see anything up yet to test this task but I did work with her on this.

1 - It works. I can plug in the Py and the information is sent to her function and it calls the get to see if the machine exist and then calls the put and updates the database. I am able to verify this both on azure, in the data base and when I check the 1edusite.com.
2 - I can break it. If I change the information be

[2020-03-24 02:36] rbeeler commented on #288
Testing was done remotely over a zoom video due to the fact that Peter has the raspberry pi.
Also, when trying to log in to the database I receive an error similar to the one I receive when trying to connect my simulated device to the Iot-Hub (I will post at the bottom of this page*).

These are the task steps completed when we tested:
1. log into Azure and and into the database
2. open the CLI in

[2020-03-24 03:30] #15 closed, assigned to tcoducayen

[2020-03-24 03:34] sanfordwinslow commented on #264
I tested the PUT API by updating machine name for a machine in postman. I got a success response back and looked in the database in azure to verify and saw my update was successful.

I tested the DELETE API by entering a machineId in the {id} variable in postman. I got a success message back and verified in the database in azure that the machine was deleted.

[2020-03-24 03:34] #264 closed, assigned to sanfordwinslow

[2020-03-24 03:35] mck368 commented on #259
Estimated Time: 10 hours
Actual Time: 15 hours

Link to Pull Request:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/359
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/351
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/369

Link to Wiki:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki

[2020-03-24 03:36] sanfordwinslow commented on #259
I tested the PUT API by updating machine name for a machine in postman. I got a success response back and looked in the database in azure to verify and saw my update was successful.

I tested the DELETE API by entering a machineId in the {id} variable in postman. I got a success message back and verified in the database in azure that the machine was deleted.

[2020-03-24 03:47] rbeeler commented on #287
This was a relatively quick task. I spent about 3 hours on it adjusting the code to accommodate string values instead of integers. I spent about another 7-8 hours trying to troubleshoot why my connection to the Iot-Hub was not working.
For someone else testing, I would give myself 30 min to 1 hour to complete the task.

pull request:
https://github.com/North-Seattle-College/ad440-winter2020-tuesda

[2020-03-24 03:50] sanfordwinslow commented on #258
Pull Requests: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/344
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/353

Tested task: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/264

Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/BackEnd-DELETE-API-deletes-also-the-image-from

[2020-03-24 04:05] mck368 commented on #265
I tested the Post request and received a successful request in Postman and saw the post was successful in the database. Looks like his routing doesn't have the v1/machines format. I've let Ken know this.

I tested the Get request and received a successful request in Postman and retrieved database data for the machines. Kiara has since updated her function to the below. I've also let Ken know.
http

[2020-03-24 05:22] ghost commented on #260
3/22 - 20 minutes
- changed route in function.json
- Updated wiki with new URL for GET machines, GET machineID & POST machine

[2020-03-24 05:31] ghost commented on #260
Total time: 10 hours

Wiki: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Fix-GET-and-POST-APIs-and-add-error-handling,-logging-and-configuration-%23260

Pull Request:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/341
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/355

Test task:
https://github.com/North-Seatt

[2020-03-24 05:42] ghost commented on #261
I logging into Azure,  clicked into yoz-sql-feat-usw2-task2 (yoz-sql-server-task2/yoz-sql-feat-usw2-task2) and entered the query:  select * from [dbo].[Machines]
I was able to see added ModelPhotos in machine IDs 104 - 114

[2020-03-24 17:47] leitto10 commented on #257
took me about 25 hours to complete the task since I had to spend more time troubleshooting than codding. I was making a few mistakes in my code that make me realize I need to review my data structures.

Pull request # https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/357

Task to test: https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/263

Wiki

[2020-03-24 18:44] tcoducayen commented on #278
wikipage:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Deploy-the-website-to-the-azure-storage-blob

travis ci:
https://travis-ci.com/github/North-Seattle-College/ad440-winter2020-tuesday-repo

storage site:
https://portal.azure.com/#@toddysmlive.onmicrosoft.com/resource/subscriptions/9f4dcf43-aa06-457b-b975-f0216baef20d/resourceGroups/tho-rg-usw2-task194/providers/M

[2020-03-24 19:38] leitto10 commented on #263
I review and test this task and I was able to successfully delete images from the blob storage by following the direction from the wiki page.

[2020-03-24 21:24] eatlunchnow commented on #262
I was able to successfully test Jose's task. I went to the https://base64.guru/converter/encode/image website and converted an image. I added it to the JSON body and sent a POST request. I got a 200 OK message. The image is in the storage container.

[2020-03-24 21:57] siergieyk commented on #271
# Remove Tabs feature
The tabs and the associated code with them have been removed successfully. There are no more tabs on the main page.

# Autorefresh feature
This feature seems to be working great.
The author of this feature consist of 2 components:
* setTmieout()
* refreshPage()

**setTimeout()**
The setTimout() element is responsible for refreshing the page every 60 seconds. The component wor

[2020-03-24 21:57] #271 closed, assigned to siergieyk

[2020-03-24 21:58] siergieyk commented on #266
**Estimate:**
I think the task will take me approximately 20 hours to complete.

**Pull Requests for task#266**
**UI can handle images using URLs and machines without images**
* https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/301
* https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/317
* https://github.com/North-Seattle-College/ad440-winter2020-

[2020-03-24 22:08] siergieyk commented on #266
**Time Estimate:**
It took me approximately 20 hours to complete the task, test it, and make all the necessary edits.

[2020-03-24 22:08] #266 closed, assigned to siergieyk

[2020-03-24 23:27] #194 closed, assigned to tcoducayen

[2020-03-24 23:52] #256 closed, assigned to eatlunchnow

[2020-03-24 23:59] isherep commented on #270
I estimate this task will take 10 mins.
I tested this feature using the following 4 scenarios:
First:
1. Started localhost
2. Located Add button, added machine info, added image URL into the Model Photo text field and clicked Save button.
3. Expected -the machine is added to the table and the machine image will show in the details.
    Actual - the machine is added to the table and the machine ima

[2020-03-25 00:02] #262 closed, assigned to eatlunchnow

[2020-03-25 00:03] #185 closed, assigned to jerwest

[2020-03-25 00:03] #204 closed, assigned to jerwest

[2020-03-25 00:04] #270 closed, assigned to isherep

[2020-03-25 00:59] jerwest commented on #267
PULL REQUESTS:
[#302](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/302)
[#303](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/303)
[#304](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/304)
[#305](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/305)
[#316](https://github.com/North-S

[2020-03-25 01:08] #212 closed, assigned to eatlunchnow

[2020-03-25 01:09] #29 closed, assigned to eatlunchnow

[2020-03-25 01:09] #77 closed, assigned to eatlunchnow

[2020-03-25 01:09] #160 closed, assigned to eatlunchnow

[2020-03-25 04:46] iroenu commented on #283
I go to the DNS zone find out there is Alias record for the reactstoragesite.z5.web.core.windows.net.
I type the https://www.1edusite.com and the web page show up.

[2020-03-25 05:48] isherep commented on #269
Pull requests:
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/306
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/309
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/315
https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/326
https://github.com/North-Seattle-College/ad440-winter2020-tuesday

[2020-03-25 05:48] #269 closed, assigned to isherep

[2020-03-25 06:10] iroenu commented on #283
I use the postman to get the https://www.1edusite.com, and it return status 200 OK. But, it not work for POST, and PUT method.

[2020-03-25 06:28] iroenu commented on #276
Task: [276](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/276)

Test Task: [282](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/282)

Pull Request: All work is done in the Azure portal, no pull request require.

Wiki: [link](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Devop-Team:-Configure-the-App-GW-to-

[2020-03-25 18:20] #267 closed, assigned to jerwest

[2020-03-25 18:33] jerwest commented on #272
TASK TO TEST:
[Fix PUT and DELETE API calls and add error handling #268](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/268)

WIKI FOR TASK:
[UI Team Sprint #5 Task #268: Fix PUT and DELETE API calls and add error handling](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/UI-Team-Sprint-%235-Task-%23268:-Fix-PUT-and-DELETE-API-calls-and-add

[2020-03-25 18:33] #272 closed, assigned to jerwest

[2020-03-25 18:37] #70 closed, assigned to rbeeler

[2020-03-25 18:37] #88 closed, assigned to rbeeler

[2020-03-25 18:37] #138 closed, assigned to rbeeler

[2020-03-25 18:37] #143 closed, assigned to rbeeler

[2020-03-25 18:37] #188 closed, assigned to rbeeler

[2020-03-25 18:37] #213 closed, assigned to rbeeler

[2020-03-25 18:56] #68 closed, assigned to lailamay

[2020-03-25 18:57] #86 closed, assigned to lailamay

[2020-03-25 18:57] #145 closed, assigned to lailamay

[2020-03-25 18:57] #140 closed, assigned to lailamay

[2020-03-25 18:57] #214 closed, assigned to lailamay

[2020-03-25 18:57] #186 closed, assigned to lailamay

[2020-03-25 19:44] #5 closed, assigned to nobody

[2020-03-25 19:44] #27 closed, assigned to nobody

[2020-03-25 19:44] #211 closed, assigned to nobody

[2020-03-25 19:44] #191 closed, assigned to nobody

[2020-03-25 19:44] #154 closed, assigned to nobody

[2020-03-25 19:44] #159 closed, assigned to nobody

[2020-03-25 19:44] #78 closed, assigned to nobody

[2020-03-25 19:44] #60 closed, assigned to nobody

[2020-03-25 19:44] #261 closed, assigned to nobody

[2020-03-25 19:44] #260 closed, assigned to nobody

[2020-03-25 19:48] #76 closed, assigned to leitto10

[2020-03-25 19:49] #257 closed, assigned to leitto10

[2020-03-25 19:50] #263 closed, assigned to leitto10

[2020-03-25 19:50] #210 closed, assigned to leitto10

[2020-03-25 19:51] #290 closed, assigned to lailamay

[2020-03-25 19:51] #286 closed, assigned to lailamay

[2020-03-25 19:51] tcoducayen commented on #280
Please let me know when to review for the task #274 via slack or direct message.

[2020-03-25 19:51] #4 closed, assigned to leitto10

[2020-03-25 19:51] #62 closed, assigned to leitto10

[2020-03-25 19:52] #157 closed, assigned to leitto10

[2020-03-25 19:53] #158 closed, assigned to leitto10

[2020-03-25 19:53] #190 closed, assigned to leitto10

[2020-03-25 19:54] #30 closed, assigned to leitto10

[2020-03-25 20:38] #258 closed, assigned to sanfordwinslow

[2020-03-25 22:02] tcoducayen commented on #278
I ran into a ton of issues including .gitignore possibly interfering with the build, the credentials not being recognized, and the deploy not taking place in the correct directory.

I think what I need in order to complete this task is to figure out why it does not display anything.

Steps i cannot get to:
changing the DNS server for www:
to display https://pog-webapp.azurewebsites.net/
instead of

[2020-03-25 22:12] tcoducayen commented on #284
This issue is ready to be checked.  Please refer to issue #278 for details.

[2020-03-26 00:23] #259 closed, assigned to mck368

[2020-03-26 00:23] #71 closed, assigned to mck368

[2020-03-26 00:24] #141 closed, assigned to mck368

[2020-03-26 00:24] #209 closed, assigned to mck368

[2020-03-26 00:24] #142 closed, assigned to mck368

[2020-03-26 00:24] #265 closed, assigned to mck368

[2020-03-26 03:37] Abdifatah206 commented on #268
**Task**
[Fix PUT and DELETE API calls](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/268)

**Wiki**
[PUT and DELETE API calls](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/PUT-and-DELETE-API-calls)

**Pull request**
[#312](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/312)
[#350 ](https://github.com/North

[2020-03-26 03:37] #268 closed, assigned to Abdifatah206

[2020-03-26 04:10] Abdifatah206 commented on #273
**Test task**
[Fix GET and POST API call and add error handling #269](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/issues/269)

**Pull request**
[#306](https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/pull/306)

**Wiki**
- https://github.com/North-Seattle-College/ad440-winter2020-tuesday-repo/wiki/Add-New-Button-in-the-Machine-Table
- https://github.

[2020-03-26 04:10] #273 closed, assigned to Abdifatah206

[2020-03-26 04:13] Abdifatah206 commented on #72
this is task needs more time, I worked on 14 days, I didnt able to complete it.

[2020-03-26 04:13] #72 closed, assigned to Abdifatah206